* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px;
  /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}

.status--in-progress {}

.status--new {}

.status--completed {}

.bus__host {}

body {
  margin: 40px;
}

.wrapper {
  width: 80%;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto);
}

.busList {
  background-color: black;
  color: gold;
  border-radius: 15px;
  padding: 20px;
  font-size: 150%;
}

.busList:nth-child(even) {
  background-color: gold;
  color: blue;
}

.bus__description {}

.bus__footer {}

.bus__footer--detail {}

.footerItem {}

.fakeLink {}

.bus__body {}

.bus__icon {}

.bus__guest {}

.bus__description {}

.busForm {}

.busForm__title {}

.form-group {}

.form-control {}

.btn {}

.btn-primary {}

.activeBuses {}

.buses {}

.bus__halo {
  display: flex;
  justify-content: center;
}

.bus__customer {
  background-color: grey;
}